h4{
    font-weight: normal;
    margin-block: 25px;
}
.vnesh{
    width: 200px;
    height: 200px;
    background: rgb(246, 230, 248);
    padding: 10px;
}
.vnutr{
    width: 30px;
    height: 30px;
    background: lightskyblue;
}
#sign{
    font-size: 50px;
}